/* 
    Document   : main.css
    Created on : 19-nov-2013, 15.47.44
    Author     : Biagio Iannuzzi
    Description:
        Purpose of the stylesheet follows.
*/
html {
    overflow: hidden;
}
root { 
    display: block;
}

body{
    background-color: #9dc1ff;
    background-repeat: repeat-x;
    background-position: top;
    background-image: url(../sprites/bg_tile.jpg);    
}

* {
    user-select: none;
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
}

::selection { background: transparent;color:inherit; }
::-moz-selection { background: transparent;color:inherit; }

canvas {
    image-rendering: optimizeSpeed;
    image-rendering:-o-crisp-edges;
    image-rendering:-webkit-optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
	-ms-touch-action: none;
}

.ani_hack{
    max-height: 500px;
    max-width: 700px;
    /* background-color: black; */
    -webkit-perspective: 1000;
    -webkit-backface-visibility: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none;
    -webkit-tap-highlight-color: transparent; /* mobile webkit */
}
.footer {
    margin-bottom: 10px;
    background-color:#777777;
    text-align: center;
    color: white
}
/* Header */
.htmleaf-header{
	padding: 1em 190px 1em;
	letter-spacing: -1px;
	text-align: center;
}
.htmleaf-header h1 {
	font-weight: 600;
	font-size: 2em;
	line-height: 1;
	margin-bottom: 0;
	font-family: "Segoe UI", "Lucida Grande", Helvetica, Arial, "Microsoft YaHei", FreeSans, Arimo, "Droid Sans", "wenquanyi micro hei", "Hiragino Sans GB", "Hiragino Sans GB W3", "FontAwesome", sans-serif;
}
.htmleaf-header h1 span {
	font-family: "Segoe UI", "Lucida Grande", Helvetica, Arial, "Microsoft YaHei", FreeSans, Arimo, "Droid Sans", "wenquanyi micro hei", "Hiragino Sans GB", "Hiragino Sans GB W3", "FontAwesome", sans-serif;
	display: block;
	font-size: 60%;
	font-weight: 400;
	padding: 0.8em 0 0.5em 0;
	color: #c3c8cd;
}
.icon-xingyun {
    margin-top: 0px;
}
.icon-xingyun span img {
    width: 100px;
}

/***************FONTS*******************/

@font-face {
  font-family: 'ComicSansMS-Bold';
  src: url('ComicSansMS-Bold.eot?#iefix') format('embedded-opentype'),  url('ComicSansMS-Bold.woff') format('woff'), url('ComicSansMS-Bold.ttf')  format('truetype'), url('ComicSansMS-Bold.svg#ComicSansMS-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'walibi0615bold';
    src: url('walibi-holland-webfont.eot');
    src: url('walibi-holland-webfont.eot?#iefix') format('embedded-opentype'),
         url('walibi-holland-webfont.woff2') format('woff2'),
         url('walibi-holland-webfont.woff') format('woff'),
         url('walibi-holland-webfont.ttf') format('truetype'),
         url('walibi-holland-webfont.svg#walibi0615bold') format('svg');
    font-weight: normal;
    font-style: normal;

}
.duck-header-image {
    margin-bottom: 30px;
}
.main-game {
    margin-left: auto;
    margin-right: auto;
}
.rank-list-container {
    display: inline-block;
    max-width: 200px;
    margin-top: -50px;
    margin-right: -50px;
}
.rank-list-table {
    width: 100%;
    height: 100%;
    background-color: greenyellow;
    overflow: auto;
    max-height: 450px;
    border-radius: 10px;
}
.rank-list-table tr {
    height: 35px;
    line-height: 35px;
}
.rank-list-table .index-icon {
    width: 20%;
}
.rank-list-table .name {
    width: 40%;
}
.rank-list-table .score {
    width: 40%;
}
.tips {
    width: 225px;
    margin-left: -110px;
    height: fit-content;
    margin-top: -50px;
}
.tips p {
    font-size: 14px;
    margin-bottom: 10px;
    text-align: left;
}
.tips-content {
    padding: 10px 10px;
    background-color: greenyellow;
    border-radius: 10px;
}

